.main-content-container {
	border-radius: 8px;
	padding: 10px;
	box-sizing: border-box;
	position: fixed;
	border-top-right-radius: 8px;

	top: 60px;
	height: calc(100vh - 8%);

	margin-left: 1px;
	transition: 0.3s;
	width: calc(100vw - 20px);
}

.main-content {
	border-radius: 8px;
	height: 80%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-flow: row;
	grid-auto-rows: 31%;
	grid-gap: 15px;
	overflow: auto;
}
.main-content-container.collapsed {
	margin-left: 184px;
	transition: 0.3s;
	width: calc(100vw - 200px);
}
.main-content > *:nth-child(n) {
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
	text-decoration: none;
	font-family: "Poppins";
	font-size: 15px;
	margin: 0;
	padding: 8px;
	background-color: none;
	color: rgb(42, 42, 42);
	cursor: pointer;
}

.footer {
	font-family: "Poppins";
	font-size: 15px;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 10px;
	height: 19%;
	border-radius: 8px;
	color: #f6f6f6;
	overflow: auto;
	background-color: #212121;
	margin-left: 0;
	transition: 0.3s;
}

.footer.collapsed {
	transition: 0.3s;
	background-color: #212121;
}
.linkedin {
	font-size: 25px;
	color: #f6f6f6;
}

.github {
	padding-left: 10px;
	font-size: 25px;
	color: #f6f6f6;
}
